/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgba(255, 0, 0, 0.938);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("paisaje.jpg");
  
}
.imgt3{

    width: 700px;
    height: 500px;
    background-image: url("luis.jpg");
}